@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped:wght@300&family=Montserrat:wght@200&family=Poppins:wght@200;300&display=swap');

* {
    margin: 0;
}

:root {
    --white: #fff;
    --light-gray: #e2e2e2;
    --bg-gray: #f3f3f3;
    --gray: #808080;
    --best-blue: #0C91FF;
    --black: #000;
}

body {
    background-color: var(--bg-gray);
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    /* Add more Font Family */
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
}

/* header */
header nav {
    padding: 0.8rem;
    margin-bottom: 3.5rem;
}

header nav a {
    text-decoration: none;
    color: var(--best-blue);
}

header nav a:hover {
    border-bottom: 1px solid var(--best-blue);
}

/* main */
.searchForm {
    margin: auto;
    display: inline-block;
    padding: 0.5rem 0;
    position: relative;
}

/* X (close) */
#closeResult {
    color: var(--gray);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
    right: 15px;
    cursor: pointer;
    width: 22px;
    height: 22px;
    font-size: 25px;
    transition: .3s;
}

#closeResult:hover{
    color: var(--black);
    transition: .3s;

}

#q {
    padding: 0.5rem;
    border: 1px solid var(--gray);
    border-radius: 24px;
    margin: 0.3rem;
    transition: .35s;
    display: block;
    width: 180px;
    height: 25px;
}

#q:hover {
    background-color: var(--white);
    border: 1px solid var(--light-gray);
    transition: .35s;

}

#q:focus {
    border: none;
    outline: 1px ridge var(--best-blue);
    width: 200px;
}

.container-main {
    text-align: center;
}

.container-main h1 {
    font-weight: 400;
    display: block;
    text-decoration: underline var(--best-blue) 1px;
}

.section-result-search {
    left: 0;
    right: 0;
    position: absolute;
    margin: 0.5rem auto;
    max-height: 350px;
    max-width: 500px;
    overflow-y: auto;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#resultSearch {
    font-weight: bold;
    display: none;
    background-color: var(--white);
    padding: 1.4rem 0.4rem;
}

#resultSearch li {
    margin: 1rem;
    padding: 0.1rem;
    list-style: none;
}

.link-result {
    padding: 6px 10px;
    text-decoration: none;
    border: 1px solid rgb(224, 224, 224);
    border-radius: 4px;
    transition: .35s;
}

.link-result:hover {
    background-color: var(--white);
    border: 1px solid var(--white);

    transition: .35s;
}

/* footer */
footer {
    text-align: center;
    margin: 30rem auto auto auto;
}